@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rpoqiMJGYG {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-rpoqiMJGYG H1 {
  text-align: left;
}
.cid-rpoqiMJGYG .mbr-text,
.cid-rpoqiMJGYG .mbr-section-btn {
  text-align: right;
}
.cid-rpnOSMeaVI .navbar {
  background: #767676;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rpnOSMeaVI .navbar-dropdown.bg-color.transparent.opened {
  background: #767676;
}
.cid-rpnOSMeaVI a {
  font-style: normal;
}
.cid-rpnOSMeaVI .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rpnOSMeaVI .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rpnOSMeaVI .nav-item:focus,
.cid-rpnOSMeaVI .nav-link:focus {
  outline: none;
}
.cid-rpnOSMeaVI .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rpnOSMeaVI .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rpnOSMeaVI .menu-logo {
  margin-right: auto;
}
.cid-rpnOSMeaVI .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rpnOSMeaVI .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rpnOSMeaVI .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rpnOSMeaVI .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rpnOSMeaVI .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rpnOSMeaVI .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rpnOSMeaVI .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rpnOSMeaVI .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rpnOSMeaVI .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rpnOSMeaVI .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rpnOSMeaVI .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rpnOSMeaVI .dropdown .dropdown-menu {
  background: #767676;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rpnOSMeaVI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rpnOSMeaVI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rpnOSMeaVI .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rpnOSMeaVI .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rpnOSMeaVI .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rpnOSMeaVI .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rpnOSMeaVI .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rpnOSMeaVI .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rpnOSMeaVI .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rpnOSMeaVI .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rpnOSMeaVI .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rpnOSMeaVI button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rpnOSMeaVI button.navbar-toggler:focus {
  outline: none;
}
.cid-rpnOSMeaVI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #f7ed4a;
}
.cid-rpnOSMeaVI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rpnOSMeaVI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rpnOSMeaVI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rpnOSMeaVI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rpnOSMeaVI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rpnOSMeaVI nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rpnOSMeaVI nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rpnOSMeaVI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rpnOSMeaVI .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rpnOSMeaVI .collapsed .btn {
  display: -webkit-flex;
}
.cid-rpnOSMeaVI .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rpnOSMeaVI .collapsed .navbar-collapse.collapsing,
.cid-rpnOSMeaVI .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rpnOSMeaVI .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rpnOSMeaVI .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rpnOSMeaVI .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rpnOSMeaVI .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rpnOSMeaVI .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rpnOSMeaVI .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rpnOSMeaVI .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rpnOSMeaVI .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rpnOSMeaVI .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rpnOSMeaVI .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rpnOSMeaVI .collapsed button.navbar-toggler {
  display: block;
}
.cid-rpnOSMeaVI .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rpnOSMeaVI .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rpnOSMeaVI .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rpnOSMeaVI .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rpnOSMeaVI .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rpnOSMeaVI .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rpnOSMeaVI.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rpnOSMeaVI img {
    height: 3.8rem !important;
  }
  .cid-rpnOSMeaVI .btn {
    display: -webkit-flex;
  }
  .cid-rpnOSMeaVI button.navbar-toggler {
    display: block;
  }
  .cid-rpnOSMeaVI .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rpnOSMeaVI .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rpnOSMeaVI .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rpnOSMeaVI .navbar-collapse.collapsing,
  .cid-rpnOSMeaVI .navbar-collapse.show {
    display: block !important;
  }
  .cid-rpnOSMeaVI .navbar-collapse.collapsing .navbar-nav,
  .cid-rpnOSMeaVI .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rpnOSMeaVI .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rpnOSMeaVI .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rpnOSMeaVI .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rpnOSMeaVI .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rpnOSMeaVI .navbar-collapse.collapsing .navbar-buttons,
  .cid-rpnOSMeaVI .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rpnOSMeaVI .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rpnOSMeaVI .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rpnOSMeaVI .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rpnOSMeaVI .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rpnOSMeaVI .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rpnOSMeaVI .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rpnOSMeaVI .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rpnOSMeaVI .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rpnOSMeaVI .nav-link:hover,
.cid-rpnOSMeaVI .dropdown-item:hover {
  color: #b1a374 !important;
}
.cid-rpnWWRDmsr {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1271.jpg");
}
.cid-rpnWWRDmsr p {
  color: #767676;
}
.cid-rpnWWRDmsr .mbr-section-subtitle {
  color: #767676;
}
.cid-rpnWWRDmsr .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rpnWWRDmsr .panel-group {
  width: 100%;
}
.cid-rpnWWRDmsr .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rpnWWRDmsr .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rpnWWRDmsr .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rpnWWRDmsr .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rpnWWRDmsr .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rpnWWRDmsr .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rpnWWRDmsr .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-rpnWWRDmsr .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-rpnWWRDmsr .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rpnWWRDmsr .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-rpolFJy66q {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rpolFJy66q h3 {
  font-weight: 300;
}
.cid-rpolFJy66q .card-img {
  width: initial;
}
.cid-rpolFJy66q .card-img .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rpolFJy66q .media-container-row {
  word-wrap: break-word;
  padding-bottom: 2rem;
  min-height: 100%;
}
.cid-rpolFJy66q .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rpolFJy66q .mbr-section-subtitle {
  color: #767676;
}
.cid-rpolFJy66q .mbr-text {
  color: #767676;
}
.cid-rpolFJy66q .media-container-column {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rpobU0Yj36 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1271.jpg");
}
.cid-rpobU0Yj36 .card-box {
  padding: 1rem 2rem 2rem;
}
.cid-rpobU0Yj36 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rpobU0Yj36 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-rpobU0Yj36 .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-rpobU0Yj36 .mbr-section-btn a {
  margin: 0;
}
.cid-rpobU0Yj36 .mbr-text {
  color: #767676;
}
.cid-rpobU0Yj36 .card-wrapper {
  height: 100%;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-rpobU0Yj36 .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rpobU0Yj36 H2 {
  text-align: center;
}
.cid-rpobU0Yj36 .card-title {
  text-align: center;
}
.cid-rpobU0Yj36 .mbr-text,
.cid-rpobU0Yj36 .mbr-section-btn B {
  color: #232323;
}
.cid-rpobU0Yj36 .mbr-text,
.cid-rpobU0Yj36 .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-rpo4vUONkO {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rpo4vUONkO h2 {
  text-align: center;
}
.cid-rpo4vUONkO h3 {
  text-align: center;
  font-weight: 300;
}
.cid-rpo4vUONkO p {
  color: #767676;
}
.cid-rpo4vUONkO img {
  object-fit: cover;
}
.cid-rpo4vUONkO .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rpo4vUONkO .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rpo4vUONkO .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-rpo4vUONkO .mbr-section-subtitle {
  color: #767676;
}
.cid-rpo4vUONkO .card-title {
  font-weight: 500;
}
.cid-rpo4vUONkO .card-img {
  text-align: inherit;
}
.cid-rpo4vUONkO .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rpo4vUONkO .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .cid-rpo4vUONkO .mbr-figure {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rpo4vUONkO .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-rpo4vUONkO .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-rpo4vUONkO .card:nth-child(1) {
    padding-bottom: 0!important;
  }
}
.cid-rpoadVGzSa {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1271.jpg");
}
.cid-rpoadVGzSa .card-box {
  padding: 1rem 2rem 2rem;
}
.cid-rpoadVGzSa h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rpoadVGzSa p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-rpoadVGzSa .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-rpoadVGzSa .mbr-section-btn a {
  margin: 0;
}
.cid-rpoadVGzSa .mbr-text {
  color: #767676;
}
.cid-rpoadVGzSa .card-wrapper {
  height: 100%;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-rpoadVGzSa .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rpoadVGzSa H2 {
  text-align: center;
}
.cid-rpoadVGzSa .card-title {
  text-align: center;
}
.cid-rtIou3DwhD {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rtIou3DwhD .mbr-section-subtitle {
  color: #767676;
}
.cid-rtIou3DwhD .mbr-text {
  color: #767676;
}
.cid-rtIou3DwhD .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rtIou3DwhD .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rtIou3DwhD .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rtIou3DwhD .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}
.cid-rtIou3DwhD .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rtIou3DwhD .card-wrapper .card-img img {
  width: 100%;
}
.cid-rtIou3DwhD .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rtIou3DwhD .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rtIou3DwhD .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rtIou3DwhD .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rtIou3DwhD .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rtIou3DwhD .popup-btn .mbr-section-btn {
  height: 100%;
  display: -webkit-flex !important;
  opacity: 0;
}
.cid-rtIou3DwhD .popup-btn:hover .mbr-overlay {
  opacity: .5;
}
.cid-rtIou3DwhD .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rEgsn4VW3U {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rEgsn4VW3U .mbr-section-subtitle {
  color: #767676;
}
.cid-rEgsn4VW3U .mbr-text {
  color: #767676;
}
.cid-rEgsn4VW3U .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rEgsn4VW3U .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rEgsn4VW3U .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rEgsn4VW3U .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}
.cid-rEgsn4VW3U .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rEgsn4VW3U .card-wrapper .card-img img {
  width: 100%;
}
.cid-rEgsn4VW3U .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rEgsn4VW3U .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rEgsn4VW3U .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rEgsn4VW3U .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rEgsn4VW3U .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rEgsn4VW3U .popup-btn .mbr-section-btn {
  height: 100%;
  display: -webkit-flex !important;
  opacity: 0;
}
.cid-rEgsn4VW3U .popup-btn:hover .mbr-overlay {
  opacity: .5;
}
.cid-rEgsn4VW3U .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rpofIfrS3I {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rpofIfrS3I .title {
  padding-bottom: 2.5rem;
}
.cid-rpofIfrS3I .mbr-text {
  color: #767676;
  margin: 0;
  padding-top: 0.5rem;
}
.cid-rpofIfrS3I .iconfont-wrapper {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}
.cid-rpofIfrS3I .iconfont-wrapper .amp-iconfont {
  font-size: 2rem;
}
.cid-rpofIfrS3I .wrapper {
  display: flex;
  padding: 1rem 0;
}
.cid-rpofIfrS3I .wrapper .b-info {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-rpofIfrS3I .iconfont-wrapper {
    display: none;
  }
}
.cid-rpoebrCGy8 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #767676;
}
.cid-rV7HTQTp8N {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-rV7HTQTp8N H1 {
  text-align: left;
}
.cid-rV7HTQTp8N .mbr-text,
.cid-rV7HTQTp8N .mbr-section-btn {
  text-align: right;
}
.cid-rV7HTRKIfw .navbar {
  background: #767676;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rV7HTRKIfw .navbar-dropdown.bg-color.transparent.opened {
  background: #767676;
}
.cid-rV7HTRKIfw a {
  font-style: normal;
}
.cid-rV7HTRKIfw .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rV7HTRKIfw .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rV7HTRKIfw .nav-item:focus,
.cid-rV7HTRKIfw .nav-link:focus {
  outline: none;
}
.cid-rV7HTRKIfw .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rV7HTRKIfw .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rV7HTRKIfw .menu-logo {
  margin-right: auto;
}
.cid-rV7HTRKIfw .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rV7HTRKIfw .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rV7HTRKIfw .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rV7HTRKIfw .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rV7HTRKIfw .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rV7HTRKIfw .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rV7HTRKIfw .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rV7HTRKIfw .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rV7HTRKIfw .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rV7HTRKIfw .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rV7HTRKIfw .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rV7HTRKIfw .dropdown .dropdown-menu {
  background: #767676;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rV7HTRKIfw .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rV7HTRKIfw .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rV7HTRKIfw .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rV7HTRKIfw .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rV7HTRKIfw .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rV7HTRKIfw .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rV7HTRKIfw .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rV7HTRKIfw .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rV7HTRKIfw .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rV7HTRKIfw .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rV7HTRKIfw .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rV7HTRKIfw button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rV7HTRKIfw button.navbar-toggler:focus {
  outline: none;
}
.cid-rV7HTRKIfw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #f7ed4a;
}
.cid-rV7HTRKIfw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rV7HTRKIfw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rV7HTRKIfw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rV7HTRKIfw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rV7HTRKIfw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rV7HTRKIfw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rV7HTRKIfw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rV7HTRKIfw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rV7HTRKIfw .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rV7HTRKIfw .collapsed .btn {
  display: -webkit-flex;
}
.cid-rV7HTRKIfw .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rV7HTRKIfw .collapsed .navbar-collapse.collapsing,
.cid-rV7HTRKIfw .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rV7HTRKIfw .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rV7HTRKIfw .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rV7HTRKIfw .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rV7HTRKIfw .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rV7HTRKIfw .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rV7HTRKIfw .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rV7HTRKIfw .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rV7HTRKIfw .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rV7HTRKIfw .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rV7HTRKIfw .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rV7HTRKIfw .collapsed button.navbar-toggler {
  display: block;
}
.cid-rV7HTRKIfw .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rV7HTRKIfw .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rV7HTRKIfw .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rV7HTRKIfw .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rV7HTRKIfw .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rV7HTRKIfw .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rV7HTRKIfw.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rV7HTRKIfw img {
    height: 3.8rem !important;
  }
  .cid-rV7HTRKIfw .btn {
    display: -webkit-flex;
  }
  .cid-rV7HTRKIfw button.navbar-toggler {
    display: block;
  }
  .cid-rV7HTRKIfw .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rV7HTRKIfw .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rV7HTRKIfw .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rV7HTRKIfw .navbar-collapse.collapsing,
  .cid-rV7HTRKIfw .navbar-collapse.show {
    display: block !important;
  }
  .cid-rV7HTRKIfw .navbar-collapse.collapsing .navbar-nav,
  .cid-rV7HTRKIfw .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rV7HTRKIfw .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rV7HTRKIfw .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rV7HTRKIfw .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rV7HTRKIfw .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rV7HTRKIfw .navbar-collapse.collapsing .navbar-buttons,
  .cid-rV7HTRKIfw .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rV7HTRKIfw .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rV7HTRKIfw .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rV7HTRKIfw .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rV7HTRKIfw .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rV7HTRKIfw .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rV7HTRKIfw .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rV7HTRKIfw .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rV7HTRKIfw .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rV7HTRKIfw .nav-link:hover,
.cid-rV7HTRKIfw .dropdown-item:hover {
  color: #b1a374 !important;
}
.cid-rV7HTSpBBL {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1271.jpg");
}
.cid-rV7HTSpBBL p {
  color: #767676;
}
.cid-rV7HTSpBBL .mbr-section-subtitle {
  color: #767676;
}
.cid-rV7HTSpBBL .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rV7HTSpBBL .panel-group {
  width: 100%;
}
.cid-rV7HTSpBBL .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rV7HTSpBBL .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rV7HTSpBBL .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rV7HTSpBBL .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rV7HTSpBBL .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rV7HTSpBBL .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rV7HTSpBBL .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-rV7HTSpBBL .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-rV7HTSpBBL .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rV7HTSpBBL .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-rV7HTTmmhw {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rV7HTTmmhw h3 {
  font-weight: 300;
}
.cid-rV7HTTmmhw .card-img {
  width: initial;
}
.cid-rV7HTTmmhw .card-img .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rV7HTTmmhw .media-container-row {
  word-wrap: break-word;
  padding-bottom: 2rem;
  min-height: 100%;
}
.cid-rV7HTTmmhw .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rV7HTTmmhw .mbr-section-subtitle {
  color: #767676;
}
.cid-rV7HTTmmhw .mbr-text {
  color: #767676;
}
.cid-rV7HTTmmhw .media-container-column {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rV7HTUoosb {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1271.jpg");
}
.cid-rV7HTUoosb .card-box {
  padding: 1rem 2rem 2rem;
}
.cid-rV7HTUoosb h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rV7HTUoosb p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-rV7HTUoosb .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-rV7HTUoosb .mbr-section-btn a {
  margin: 0;
}
.cid-rV7HTUoosb .mbr-text {
  color: #767676;
}
.cid-rV7HTUoosb .card-wrapper {
  height: 100%;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-rV7HTUoosb .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rV7HTUoosb H2 {
  text-align: center;
}
.cid-rV7HTUoosb .card-title {
  text-align: center;
}
.cid-rV7HTUoosb .mbr-text,
.cid-rV7HTUoosb .mbr-section-btn B {
  color: #232323;
}
.cid-rV7HTUoosb .mbr-text,
.cid-rV7HTUoosb .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-rV7HTVHA1p {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rV7HTVHA1p h2 {
  text-align: center;
}
.cid-rV7HTVHA1p h3 {
  text-align: center;
  font-weight: 300;
}
.cid-rV7HTVHA1p p {
  color: #767676;
}
.cid-rV7HTVHA1p img {
  object-fit: cover;
}
.cid-rV7HTVHA1p .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rV7HTVHA1p .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rV7HTVHA1p .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-rV7HTVHA1p .mbr-section-subtitle {
  color: #767676;
}
.cid-rV7HTVHA1p .card-title {
  font-weight: 500;
}
.cid-rV7HTVHA1p .card-img {
  text-align: inherit;
}
.cid-rV7HTVHA1p .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rV7HTVHA1p .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .cid-rV7HTVHA1p .mbr-figure {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rV7HTVHA1p .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-rV7HTVHA1p .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-rV7HTVHA1p .card:nth-child(1) {
    padding-bottom: 0!important;
  }
}
.cid-rV7HTWKdmd {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1271.jpg");
}
.cid-rV7HTWKdmd .card-box {
  padding: 1rem 2rem 2rem;
}
.cid-rV7HTWKdmd h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rV7HTWKdmd p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-rV7HTWKdmd .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-rV7HTWKdmd .mbr-section-btn a {
  margin: 0;
}
.cid-rV7HTWKdmd .mbr-text {
  color: #767676;
}
.cid-rV7HTWKdmd .card-wrapper {
  height: 100%;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-rV7HTWKdmd .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rV7HTWKdmd H2 {
  text-align: center;
}
.cid-rV7HTWKdmd .card-title {
  text-align: center;
}
.cid-rV7HTXX45Q {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rV7HTXX45Q .mbr-section-subtitle {
  color: #767676;
}
.cid-rV7HTXX45Q .mbr-text {
  color: #767676;
}
.cid-rV7HTXX45Q .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rV7HTXX45Q .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rV7HTXX45Q .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rV7HTXX45Q .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}
.cid-rV7HTXX45Q .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rV7HTXX45Q .card-wrapper .card-img img {
  width: 100%;
}
.cid-rV7HTXX45Q .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rV7HTXX45Q .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rV7HTXX45Q .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rV7HTXX45Q .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rV7HTXX45Q .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rV7HTXX45Q .popup-btn .mbr-section-btn {
  height: 100%;
  display: -webkit-flex !important;
  opacity: 0;
}
.cid-rV7HTXX45Q .popup-btn:hover .mbr-overlay {
  opacity: .5;
}
.cid-rV7HTXX45Q .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rV7HTYW6kl {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rV7HTYW6kl .mbr-section-subtitle {
  color: #767676;
}
.cid-rV7HTYW6kl .mbr-text {
  color: #767676;
}
.cid-rV7HTYW6kl .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rV7HTYW6kl .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rV7HTYW6kl .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rV7HTYW6kl .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}
.cid-rV7HTYW6kl .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-rV7HTYW6kl .card-wrapper .card-img img {
  width: 100%;
}
.cid-rV7HTYW6kl .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rV7HTYW6kl .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rV7HTYW6kl .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rV7HTYW6kl .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rV7HTYW6kl .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rV7HTYW6kl .popup-btn .mbr-section-btn {
  height: 100%;
  display: -webkit-flex !important;
  opacity: 0;
}
.cid-rV7HTYW6kl .popup-btn:hover .mbr-overlay {
  opacity: .5;
}
.cid-rV7HTYW6kl .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rV7ImgCaCz {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rV7ImgCaCz .mbr-section-subtitle,
.cid-rV7ImgCaCz .mbr-text {
  color: #767676;
}
.cid-rV7ImgCaCz .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rV7ImgCaCz .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rV7ImgCaCz .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rV7ImgCaCz .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-rV7ImgCaCz .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-rV7ImgCaCz .card-wrapper .card-img img {
  width: 100%;
}
.cid-rV7ImgCaCz .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rV7ImgCaCz .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rV7ImgCaCz .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rV7ImgCaCz .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-rV7ImgCaCz .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rV7ImgCaCz .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-rV7ImgCaCz .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-rV7ImgCaCz .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rV7HU02MT4 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rV7HU02MT4 .title {
  padding-bottom: 2.5rem;
}
.cid-rV7HU02MT4 .mbr-text {
  color: #767676;
  margin: 0;
  padding-top: 0.5rem;
}
.cid-rV7HU02MT4 .iconfont-wrapper {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}
.cid-rV7HU02MT4 .iconfont-wrapper .amp-iconfont {
  font-size: 2rem;
}
.cid-rV7HU02MT4 .wrapper {
  display: flex;
  padding: 1rem 0;
}
.cid-rV7HU02MT4 .wrapper .b-info {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-rV7HU02MT4 .iconfont-wrapper {
    display: none;
  }
}
.cid-rV7HU0VbQY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #767676;
}
